@import url('https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css');
@import url('https://fonts.cdnfonts.com/css/apercu-pro');
html,

body {
    height: 100%;
    width: 100%;
    background: #1c1a24;
    color: white;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Apercu Pro', sans-serif;
    font-size: 30px;
}

i {
    transition: all 0.5s;
    
}

i:hover {
    transform: scale(1.1);
}  